<a href="https://colab.research.google.com/github/tomsanderson/Python_DA_Portfolio/blob/main/EPA_Smart_Location.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Smart Location Dataset from the EPA
Source: https://catalog.data.gov/dataset/smart-location-database8

<details>
<summary>Dataset Description</summary>
<small>A large body of research has demonstrated that land use and urban form can have a significant effect on transportation outcomes. People who live and/or work in compact neighborhoods with a walkable street grid and easy access to public transit, jobs, stores, and services are more likely to have several transportation options to meet their everyday needs. As a result, they can choose to drive less, which reduces their emissions of greenhouse gases and other pollutants compared to people who live and work in places that are not location efficient. Walking, biking, and taking public transit can also save people money and improve their health by encouraging physical activity.</small>

<small>The Smart Location Database summarizes several demographic, employment, and built environment variables for every census block group (CBG) in the United States. The database includes indicators of the commonly cited “D” variables shown in the transportation research literature to be related to travel behavior. The Ds include residential and employment density, land use diversity, design of the built environment, access to destinations, and distance to transit. SLD variables can be used as inputs to travel demand models, baseline data for scenario planning studies, and combined into composite indicators characterizing the relative location efficiency of CBG within U.S. metropolitan regions.</small>

<small>This update features the most recent geographic boundaries (2019 Census Block Groups) and new and expanded sources of data used to calculate variables. Entirely new variables have been added and the methods used to calculate some of the SLD variables have changed.</small>

<small>More information on the National Walkability index: https://www.epa.gov/smartgrowth/smart-location-mapping More information on the Smart Location Calculator: https://www.slc.gsa.gov/slc/</small>
</details>

## Exploratory Analysis

### Code Imports

In [11]:
# Python imports to support EDA activities
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import ai
# from google.colab import drive

### Data Source

In [12]:
##################################################
# Mount and use Google Drive to access EPA dataset
# drive.mount('/content/drive', force_remount=True)
# file_path = '/content/drive/My Drive/Colab Notebooks/DataSources/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv'
##################################################

#Load CSV file from EPA URL
file_path = 'https://edg.epa.gov/EPADataCommons/public/OA/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv'
df = pd.read_csv(file_path)

### Simple Data Descriptions

In [33]:
# Simple dataframe descriptions and information
# display(df.describe())
print("Dataframe information:\n")
df.info()
print("\n")
print("Dataframe shape:\n")
display(df.shape)
print("\n")
print("Dataframe columns:\n")
print(list(df.columns))

# display(df.head())

Dataframe information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220740 entries, 0 to 220739
Columns: 117 entries, OBJECTID to Shape_Area
dtypes: float64(73), int64(42), object(2)
memory usage: 197.0+ MB


Dataframe shape:

(220740, 117)

Dataframe columns:

['OBJECTID', 'GEOID10', 'GEOID20', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'BLKGRPCE', 'CSA', 'CSA_Name', 'CBSA', 'CBSA_Name', 'CBSA_POP', 'CBSA_EMP', 'CBSA_WRK', 'Ac_Total', 'Ac_Water', 'Ac_Land', 'Ac_Unpr', 'TotPop', 'CountHU', 'HH', 'P_WrkAge', 'AutoOwn0', 'Pct_AO0', 'AutoOwn1', 'Pct_AO1', 'AutoOwn2p', 'Pct_AO2p', 'Workers', 'R_LowWageWk', 'R_MedWageWk', 'R_HiWageWk', 'R_PCTLOWWAGE', 'TotEmp', 'E5_Ret', 'E5_Off', 'E5_Ind', 'E5_Svc', 'E5_Ent', 'E8_Ret', 'E8_off', 'E8_Ind', 'E8_Svc', 'E8_Ent', 'E8_Ed', 'E8_Hlth', 'E8_Pub', 'E_LowWageWk', 'E_MedWageWk', 'E_HiWageWk', 'E_PctLowWage', 'D1A', 'D1B', 'D1C', 'D1C5_RET', 'D1C5_OFF', 'D1C5_IND', 'D1C5_SVC', 'D1C5_ENT', 'D1C8_RET', 'D1C8_OFF', 'D1C8_IND', 'D1C8_SVC', 'D1C8_ENT', 'D1C8_ED', 'D1C8_HLTH', 'D1C8_PUB', 'D1D', 'D1_FLAG', 'D2A_JPHH', 'D2B_E5MIX', 'D2B_E5MIXA', 'D2B_E8MIX', 'D2B_E8MIXA', 'D2A_EPHHM', 'D2C_TRPMX1', 'D2C_TRPMX2', 'D2C_TRIPEQ', 'D2R_JOBPOP', 'D2R_WRKEMP', 'D2A_WRKEMP', 'D2C_WREMLX', 'D3A', 'D3AAO', 'D3AMM', 'D3APO', 'D3B', 'D3BAO', 'D3BMM3', 'D3BMM4', 'D3BPO3', 'D3BPO4', 'D4A', 'D4B025', 'D4B050', 'D4C', 'D4D', 'D4E', 'D5AR', 'D5AE', 'D5BR', 'D5BE', 'D5CR', 'D5CRI', 'D5CE', 'D5CEI', 'D5DR', 'D5DRI', 'D5DE', 'D5DEI', 'D2A_Ranked', 'D2B_Ranked', 'D3B_Ranked', 'D4A_Ranked', 'NatWalkInd', 'Shape_Length', 'Shape_Area']

# Task
Perform an exploratory data analysis of the `df` DataFrame from the EPA Smart Location Database (`https://edg.epa.gov/EPADataCommons/public/OA/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv`), which includes generating comprehensive descriptive statistics for all numerical columns, analyzing the unique values and frequencies of the two `object` type columns, calculating and visualizing the percentage of missing values for each column, visualizing the distributions of 'NatWalkInd', 'D1A', 'D1B', 'D2A_JPHH', and 'D3A' using histograms or box plots, and exploring the geographical distribution of key indicators across 'STATEFP' and 'COUNTYFP'.

## Detailed Numerical Summary

### Subtask:
Generate comprehensive descriptive statistics for all numerical columns using `df.describe(include=np.number)`. This will provide a quick overview of central tendency, dispersion, and shape of the distribution of numerical data. We should also investigate if there are any variables that are numeric but represent categorical data (e.g., IDs, flags).

**Reasoning**:
To generate comprehensive descriptive statistics for all numerical columns in the DataFrame, I will use the `describe()` method with `include=np.number` and display the result.

In [35]:
print("Descriptive statistics for numerical columns:\n")
display(df.describe(include=np.number))

Descriptive statistics for numerical columns:

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CBSA,CBSA_POP,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
count,220740.000000,2.207390e+05,2.207400e+05,220740.000000,220740.000000,220740.000000,220740.000000,167709.000000,203645.000000,2.207400e+05,...,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,2.207400e+05,2.207400e+05
mean,110370.500000,2.870894e+11,2.870915e+11,28.623190,85.697449,262342.382110,2.221392,341.742661,30514.836210,3.607329e+06,...,-57326.486630,-57326.597590,-57326.483325,10.500000,10.500000,10.500000,7.624884,9.541628,1.655970e+04,4.466074e+07
std,63722.293548,1.640746e+11,1.640774e+11,16.386075,98.818946,351403.837442,1.195155,125.700068,10979.471375,5.219925e+06,...,49459.959391,49459.830782,49459.963223,5.766294,5.766294,5.766294,7.812853,4.373952,3.830373e+04,6.430513e+08
min,1.000000,1.001020e+10,1.001020e+10,1.000000,1.000000,100.000000,0.000000,104.000000,10100.000000,0.000000e+00,...,-99999.000000,-99999.000000,-99999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.685713e+02,4.435890e+03
25%,55185.750000,1.312100e+11,1.312100e+11,13.000000,29.000000,10303.000000,1.000000,218.000000,19740.000000,2.053030e+05,...,-99999.000000,-99999.000000,-99999.000000,5.750000,5.750000,5.750000,1.000000,5.833333,3.271213e+03,4.985104e+05
50%,110370.500000,2.901900e+11,2.901900e+11,29.000000,61.000000,46298.000000,2.000000,361.000000,32820.000000,1.252890e+06,...,-99999.000000,-99999.000000,-99999.000000,10.500000,10.500000,10.500000,1.000000,9.166667,5.877323e+03,1.373918e+06
75%,165555.250000,4.200350e+11,4.200350e+11,42.000000,109.000000,482503.000000,3.000000,429.000000,39300.000000,4.673634e+06,...,0.142514,0.000354,0.161708,15.250000,15.250000,15.250000,16.000000,13.166667,1.596391e+04,9.413158e+06
max,220740.000000,7.803100e+11,7.803100e+11,78.000000,840.000000,993000.000000,9.000000,566.000000,49820.000000,1.931847e+07,...,1.000000,1.000000,1.000000,20.000000,20.000000,20.000000,20.000000,20.000000,3.925989e+06,1.641290e+11

### Investigation of Numerical Columns that Represent Categorical Data

Upon reviewing the descriptive statistics, several columns, though numerical, appear to function as categorical identifiers or ranked categories. These include:

*   **`OBJECTID`**: A unique identifier for each record.
*   **`GEOID10`, `GEOID20`**: Geographic identifiers (Census Block Group IDs) which, despite being numbers, serve as unique labels for locations.
*   **`STATEFP`, `COUNTYFP`**: Federal Information Processing Standard (FIPS) codes for states and counties, respectively. These are numerical codes representing distinct geographical entities.
*   **`TRACTCE`, `BLKGRPCE`**: Census tract and block group codes, similar to GEOIDs, acting as identifiers.
*   **`CSA`, `CBSA`**: Core Based Statistical Area (CBSA) and Combined Statistical Area (CSA) codes. These are numerical identifiers for metropolitan and micropolitan areas.
*   **`D2A_Ranked`, `D2B_Ranked`, `D3B_Ranked`, `D4A_Ranked`**: These columns contain values ranging from 1 to 20, likely representing ranked categories or deciles of other variables. While numerically ordered, they are treated as categorical for analysis purposes.

**Reasoning**:
To analyze the unique values and frequencies of the object type columns, I need to first identify which columns in the DataFrame `df` have the `object` data type. Then, for each identified object column, I will print its unique values and their corresponding counts.

In [36]:
print("Unique values and frequencies for object columns:\n")
object_cols = df.select_dtypes(include='object').columns

for col in object_cols:
    print(f"Column: {col}")
    print(df[col].value_counts())
    print("\n")

Unique values and frequencies for object columns:

Column: CSA_Name
CSA_Name
New York-Newark, NY-NJ-CT-PA                      16813
Los Angeles-Long Beach, CA                        10800
Chicago-Naperville, IL-IN-WI                       6908
Washington-Baltimore-Arlington, DC-MD-VA-WV-PA     5958
Boston-Worcester-Providence, MA-RI-NH-CT           5887
                                                  ...
Cleveland-Indianola, MS                              53
Martin-Union City, TN                                53
Kerrville-Fredericksburg, TX                         49
Steamboat Springs-Craig, CO                          34
Spencer-Spirit Lake, IA                              33
Name: count, Length: 175, dtype: int64


Column: CBSA_Name
CBSA_Name
New York-Newark-Jersey City, NY-NJ-PA          14376
Los Angeles-Long Beach-Anaheim, CA              8248
Chicago-Naperville-Elgin, IL-IN-WI              6590
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD     4306
Dallas-Fort Worth-Arlington, TX                 4128
                                               ...
Pearsall, TX                                      12
Andrews, TX                                       11
Magnolia, AR                                      11
Jayuya, PR                                         9
Zapata, TX                                         9
Name: count, Length: 938, dtype: int64

**Reasoning**:
To identify and visualize the extent of missing data, I will calculate the percentage of missing values for each column in the DataFrame and then create a bar plot to visually represent these percentages. This helps in understanding data completeness.

In [ ]:
print("Percentage of missing values per column:\n")
missing_percentages = df.isnull().sum() * 100 / len(df)
missing_percentages = missing_percentages[missing_percentages > 0].sort_values(ascending=False)

print(missing_percentages)

plt.figure(figsize=(15, 7))
sns.barplot(x=missing_percentages.index, y=missing_percentages)
plt.xticks(rotation=90)
plt.title('Percentage of Missing Values Per Column')
plt.ylabel('Percentage Missing')
plt.xlabel('Columns')
plt.show()